@import url("https://use.typekit.net/zgk0lcg.css");

* {
    margin: 0;
    padding: 0;
    font-family: "spectral-sc", monospace;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}
*::selection{
    color: white;
    background-color: #ac823f89;
}
body{
    background-color: #051119;
}
header {
    position: sticky;
    top: 0;
    z-index: 100;
}
.logoNome {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.logoNome a {
    font-size: 28px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: 0.7s;
}

.logoNome a:hover {
    color: #ac823fb0;
    opacity: 0.7;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: rgb(5, 17, 25); 
    z-index: 1000; 
    transition: background-color 0.3s ease; 
}

.listaNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.listaNav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navContent {
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative; 
}

.navContent:hover {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 0; 
}

.navContent::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #ac823fb0;
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

.navContent:hover::after {
    transform: scaleX(1);
    transform: scaleY(1.5);
}
.section-dos-contatos {
    display: flex;
    width: 100%;
    height: 100vh; /* Ajuste a altura conforme necessário */
}

.mapa {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

gmp-map {
    width: 100%;
    height: 100%;
}
.espacoContatos{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-left: 30px;
    color: white;
    gap: 20px;
}
.espacoContatos h1{
    font-size: 32px;
}
.contatoLink{
    font-family: monospace;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.7s;
}
hr{
    height: 2px;
    border: none;
    background-color: #ac823f;
}
.contatoLink:hover{
    color: #ac823fb0;
    opacity: 0.7;
}
@media(max-width:960px){
    .espacoContatos{
        margin-top: 10%;
    }
}
@media(max-width:770px){
    .section-dos-contatos{
        flex-direction: column;
    }
    .mapa{
        width: 100%;
    }
    body{
        height: 900px;
    }
    .espacoContatos{
        margin-left: 10px;
    }
    .espacoContatos p{
        width: 250px;
    }
}
@media(max-width:650px){
    #logoID{
        font-size: 20px;
    }
    .navContent{
        font-size: 14px;
    }
}
@media(max-width:500px){
    #logoID{
        font-size: 14px;
    }
    .navContent{
        font-size: 12px;
    }
    .listaNav ul{
        gap: 15px;
    }
}
@media(max-width:370px){
    #logoID{
        font-size: 12px;
    }
    .navContent{
        font-size: 10px;
    }
}
@media(max-width:315px){
    #logoID{
        font-size: 10px;
    }
    .navContent{
        font-size: 8px;
    }
}