@import url("https://use.typekit.net/zgk0lcg.css");

* {
    margin: 0;
    padding: 0;
    font-family: "spectral-sc", monospace;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}
*::selection{
    color: white;
    background-color: #ac823f89;
}
body {
    background-color: #051119;
    height: 2000px;

}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.logoNome {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.logoNome a {
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #051119;
    transition: 0.7s;
}

.logoNome a:hover {
    color: #ac823fb0;
    opacity: 0.7;
}

#logoID.ativo{
    color: white;
}
#logoID.ativo:hover{
    color: #ac823f;
    opacity: 0.7;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: rgba(5, 17, 25, 0.0); 
    z-index: 1000; 
    transition: background-color 0.3s ease; 
}


#navBarID.ativo{
    background-color: #051119;
}

.listaNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.listaNav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navContent {
    color: #051119;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative; 
}

.navContent:hover {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 0; 
}

.navContent::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #ac823fb0;
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

.navContent:hover::after {
    transform: scaleX(1);
    transform: scaleY(1.5);
}
.navContent.ativo{
    color: white;
}
.bolinhaZap{
    position: fixed ;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    cursor: pointer;
}

.comeco{
    height: 38%;
    background-image: url('midia-amanda/backgroundAmanda.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
}
.espaco-para-texto{
    display: flex;
    align-items: center;
}
.textoFoto{
    color: #051119;
    justify-content: start;
    margin-left: 5%;
    margin-top: 15%;
    pointer-events: none;
}
.textoFoto h1{
    margin-top: 5%;
    font-size: 52px;
}
.textoFoto p{
    position: relative; 
    display: inline-block; 
    color: #051119; 
    font-size: 16px; 
    margin-left: 15%;
    
}
.textoFoto p::before {
    content: '';
    position: absolute;
    top: 50%; 
    right: 100%; 
    width: 50px;
    height: 1px;
    background-color: #051119;
    margin-top: -0.5px; 
    margin-right: 2%;
}
.verMais{
    display: flex;
    margin-top: 20%;
    margin-left: 5%;
    
}
.verMais a{
    padding: 7.5px 20px 7.5px 20px;
    border: #051119 solid 1px;
    color: #051119;
    font-size: 22px;
    text-decoration: none;
    transition: 0.7s;
    
}
.verMais a:hover{
    background-color: #051119;
    color: white;
}
#idMeio{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.miniCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 400px;
    color: white;
    border-radius: 20px;
    height: 250px;
    background: rgba( 5, 17, 25, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 350px;
}
.miniCards h2{
    width: 100%;
    align-self: center;
    font-size: 20px;
    margin: 30px 0 20px 0;
    text-transform: uppercase;
}
.miniCards p{
    padding: 0 40px 0 40px;
}
.cards hr{
    width: 100px;
    height: 3px;
    border: none;
    background-color: #ac823f;
}
.miniCards img{
    height: 60px;
    width: 60px;
    margin-top: 40px;
    color: white;
    position: absolute;
    bottom: 20px;
}

.textosMeio{
    display: flex;
    align-items: center;
    margin-top: 10%;
    margin-left: 5%;
    color: white;
    justify-content: space-around;
    gap: 20px;
}
.textosMeio h2{
    font-size: 36px;
}
.textosMeio p{
    font-size: 16px;
    width: 400px;
    
}
.textoEsquerda{
    width: 300px;
    border-right: white solid 1px;
    padding-right: 30px;
    
}
.fim{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}
.contatoCard{
    display: flex;
    font-size: 12px;
    color: white;
    align-items: center;
    gap: 15px;
    border: white solid 1px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}
.contatoCard:hover{
    opacity: 0.5;
    
}
.contatoCard img{
    width: 40px;
    height: 40px;
}
.contatoCard img:hover{
    fill: rgb(5,17,25);
}

footer{
    background-color: white;
    height: 8%;
    margin-top: 10%;
}

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background-color: #051119;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #ac823f;   
}
@media(max-width:1300px) { 
    .textoFoto h1{
        font-size: 48px;
    }
    .cards hr{
        display: none;
    }
    .cards{
        gap: 20px;
    }
}
@media(max-width:1200px){
    
    .verMais{
        position: absolute;
        margin-top: 400px;
    }
    .textoFoto h1{
        font-size: 44px;
    }
    .miniCards{
        width: 380px;
    }
    .cards{
        gap: 20px;
    }
    .textosMeio{
        margin-left: 20px;
    }
}
@media(max-width:1100px){
    .textoFoto{
        margin-top: 200px;
    }
    .textoFoto h1{
        font-size: 40px;
    }
    .miniCards{
        width: 300px;
    }
    .miniCards h2{
        font-size: 16px;
    }
    .miniCards p{
        font-size: 14px;
    }
    .cards{
        gap: 20px;
    }
    .textosMeio{
        margin-left: 0px;
        scale: 0.8;
        flex-direction: column;
        gap:30px
    }
    .textosMeio h2{
        margin-left: -40px;
    }
    .fim{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
@media(max-width:950px){
    .comeco{
        background-position: -100px;
        height: 45%;
        width: 100%;
    }
    .textoFoto{
        margin-top: 250px;
    }
    .textoFoto h1{
        font-size: 36px;
        right: 0;
    }
    .textoFoto p{
        font-size: 14px;
    }
    .textoFoto p::before{
        width: 30px;
    }
    .cards{
        flex-direction: column;
    }
    .miniCards{
        width: 400px;
    }
    .miniCards h2{
        font-size: 20px;
    }
    .miniCards p{
        font-size: 16px;
    }
    
    .textosMeio{
        margin-left: 0px;
        scale: 0.8;
        flex-direction: column;
        gap:30px
    }
    .textosMeio h2{
        font-size: 36px;
    }
    .textosMeio p{
        font-size: 20px;
        width: 400px;
        
    }
    .fim{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
@media(max-width:680px){
    #logoID{
        font-size: 16px;
    }
    .navContent{
        font-size: 14px;
    }
    .comeco{
        background-position: -300px;
    }
    .textoFoto{
        margin-top: 450px;
    }
    .verMais {
    margin-top: 200px;
    }
    .verMais a{
        color: white;
        border-color: white;
    }
}
@media(max-width:540px){
    #logoID{
        font-size: 14px;
    }
    .listaNav ul{
        gap: 10px;
    }
    .navContent{
        font-size: 12px;
    }
    .comeco{
        background-position: -330px;
    }
    .miniCards{
        width: 300px;
    }
    .miniCards h2{
        font-size: 16px;
    }
    .miniCards p{
        font-size: 14px;
    }
    .contatoCard{
        font-size: 8px;
        margin-bottom: 20px;
    }
    
}
@media(max-width:410px){
    .navBar{
        gap: 10px;
    }
    #logoID{
        font-size: 10px;
    }
    .navContent{
        font-size: 10px;
    }
    .listaNav ul{
        gap: 10px;
    }
    .comeco{
        background-position: -400px;
    }
    .textoFoto{
        margin-top: 500px;
    }
    .verMais{
        margin-top: 120px;
    }
    .bolinhaZap{
        display: none;
    }

}

@media(max-width:360px){
    .comeco{
        background-position: -500px;
    }
    .miniCards{
        width: 250px;
    }
    .miniCards h2{
        font-size: 14px;
    }
    .miniCards p{
        font-size: 12px;
    }
    .textosMeio{
        scale: 0.7;
    }
}